In [1]:
# nim/ nama : Alfian Hanif Fitria Yustanto /19623281
# tanggal : 16 November 2023
# Deskripsi : Program mengolah data dengan kondisi tertentu

In [2]:
import pandas as pd

df = pd.read_csv("P05-01.csv")

In [3]:

data =df.loc[(df["Gender"] == "F") & (df["Attrition_Flag"] == "Attritied Customer")]

print(len(data))

0

In [4]:
data = df.loc[df["Total_Revolving_Bal"] == df["Total_Revolving_Bal"].max()]

print(data["CLIENTNUM"])

3        769911858
8        710930508
18       806160108
32       709029408
42       773146383
           ...
10071    713281833
10078    709398708
10079    715090008
10113    713733633
10119    716893683
Name: CLIENTNUM, Length: 508, dtype: int64

In [5]:
data = df.loc[(df["Education_Level"] == "High School") & (df["Marital_Status"] == "Married")]
print(len(data))

949

In [6]:
data = df.loc[(df["Total_Trans_Ct"] >= 100)]

print(data["Card_Category"].value_counts())

Card_Category
Blue        526
Silver      121
Gold         32
Platinum      8
Name: count, dtype: int64

In [7]:
data = df.sort_values(["Customer_Age"],ascending=1).loc[df["Income_Category"] == "$80K - $120K"]

print(data)

      CLIENTNUM     Attrition_Flag  Customer_Age Gender  Dependent_count  \
9295  719324658  Existing Customer            27      M                0
1381  720497958  Existing Customer            29      M                1
1889  789760233  Existing Customer            29      M                0
1677  780374133  Existing Customer            29      M                1
9494  710262408  Existing Customer            29      M                1
...         ...                ...           ...    ...              ...
3274  819189108  Existing Customer            63      M                0
378   714819183  Existing Customer            63      M                1
1874  717648783  Existing Customer            63      M                2
5987  713037333  Existing Customer            63      M                1
2509  771649083  Existing Customer            63      M                0

     Education_Level Marital_Status Income_Category Card_Category  \
9295         College        Unknown    $80K - $120K        Silver
1381        Graduate        Married    $80K - $120K          Blue
1889         Unknown       Divorced    $80K - $120K          Blue
1677         College         Single    $80K - $120K          Blue
9494        Graduate        Married    $80K - $120K        Silver
...              ...            ...             ...           ...
3274         College         Single    $80K - $120K          Blue
378       Uneducated        Married    $80K - $120K          Blue
1874     High School        Married    $80K - $120K          Blue
5987        Graduate         Single    $80K - $120K          Blue
2509     High School        Married    $80K - $120K          Blue

      Months_on_book  Months_Inactive_12_mon  Credit_Limit  \
9295              19                       1       34516.0
1381              14                       3       14853.0
1889              14                       3        3544.0
1677              19                       3        7010.0
9494              36                       2       34516.0
...              ...                     ...           ...
3274              56                       2        9033.0
378               36                       2       24571.0
1874              51                       2        6922.0
5987              55                       1       21430.0
2509              51                       3       10257.0

      Total_Revolving_Bal  Total_Trans_Amt  Total_Trans_Ct  \
9295                 1131            14716             112
1381                    0             1800              41
1889                    0             2435              63
1677                 2103             2413              48
9494                 1666            13971             116
...                   ...              ...             ...
3274                    0             4456              85
378                  1955             1746              28
1874                 1704             1449              28
5987                    0             3561              57
2509                 1021             1508              30

      Avg_Utilization_Ratio
9295                  0.033
1381                  0.000
1889                  0.000
1677                  0.300
9494                  0.048
...                     ...
3274                  0.000
378                   0.080
1874                  0.246
5987                  0.000
2509                  0.100

[1535 rows x 16 columns]